.headerContainer {
    height: 400px;
    position: relative;
}

.headerContainer > .headerImage {
    object-fit: cover;
    /*filter: grayscale();*/
    z-index: -1;
}

.mainButtonRow {
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 400px 1fr;
    z-index: 1;
}

.mainButtonRow > a {
    text-decoration: none;
}

.mainButtonRow .mainButton {
    height: 100%;
    background: var(--main-yellow);
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 800;
    font-family: var(--font-poppins);
    font-size: 28px;
    color: white;
}

.mainButtonRow > .midButton {
    display: grid;
    align-items: center;
    justify-items: center;
}

.mainButtonRow .hexButton {
    height: 200%;
    width: 107%;
    grid-row: 1;
    grid-column: 1;
    background-color: var(--main-red);
    clip-path: polygon(8% 0, 92% 0, 100% 50%, 92% 100%, 8% 100%, 0% 50%);
    transition: scale 150ms ease-in-out;
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--font-poppins);
    color: white;
    font-weight: 800;
    font-size: 32px;
    line-height: 1.2;
    text-align: center;
}

.mainButtonRow .backHex {
    height: 180%;
    width: 111%;
    grid-row: 1;
    grid-column: 1;
    background-color: var(--black, black);
    clip-path: polygon(7.8% 0, 92.2% 0, 100% 50%, 92.2% 100%, 7.8% 100%, 0% 50%);
    transition: scale 150ms ease-in-out;
}

.hexButton:hover, 
.hexButton:focus {
    scale: 1.01;
}

.hexButton:hover + .backHex,
.hexButton:focus + .backHex {
    scale: 1.02 1;
}

.mainPageContent {
    display: grid;
    grid-template-columns: 1fr minmax(20%, 312px);
}

.sidebar {
    grid-column: 2;
    min-height: 300px; /*temp*/
    background: #2d2d2d;
    border-left: 1px solid rgba(0,0,0,24%);
    padding: 0 1em;
    color: var(--main-yellow);
}

.sidebar > h2 {
    font-size: 16px;
    text-transform: uppercase;
}

.mainPageContent > .content {
    grid-row: 1;
    max-width: 50ch;
    justify-self: center;
    margin: 4em 0 20px;

}

@media screen and ( max-width: 1000px ) {
    
    .mainPageContent {
        grid-template-columns: 1fr;
    }

    .sidebar {
        grid-column: 1;
        grid-row: 2;
    }

    .mainPageContent > .content {
        max-width: min(50ch, 100% - 40px);
    }


    /** Hex button **/

    .mainButtonRow {
        grid-template-columns: 1fr;
    }

    .mainButtonRow > a:not(.midButton) {
        display: none;
    }

    .mainButtonRow .hexButton {
        width: 100%;
        clip-path: polygon(50% 0, 100% 8%, 100% 92%, 50% 100%, 0 92%, 0 8%);
    }

    .mainButtonRow .backHex {
        height: 214%;
        width: 95%;
        clip-path: polygon(50% 0, 100% 7.8%, 100% 92.2%, 50% 100%, 0 92.2%, 0 7.8%);
    }

    .hexButton:hover + .backHex, 
    .hexButton:focus + .backHex {
        scale: 1 1.02;
    }

}