.bm-burger-button {
    width: 36px;
    height: 30px;
    position: relative;
  }
  
  .bm-burger-bars {
    background: #373a47;
  }  

  .bm-burger-bars-hover {
    background: #a90000;

  }
  
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
    left: 0px;
    top: 0px;
  }
  
  .bm-menu {
    background: #2d2d2d;
    padding: 0.3rem 0.3rem 0;
    font-size: 1.15em;
  }
  
  .bm-morph-shape {
    fill: #373a47;
  }
  
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
  
  .bm-item {
    display: inline-block;
  }
  
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
  }
/* styling next link component so that will be a column list of links*/
  .bm-item-list a {
    display: flex;
    flex-direction: column;
    margin: .5em 0 0;
  }

  .hamburgerMenu .childItem {
    text-transform: none;
    padding-left: 1em;
  }

  .hamburgerMenu .topLevelItem {
    margin-top: 1em;
  }

  .hamburgerMenu .topLevelItem:first-of-type {
    margin-top: 0;
  }

  .bm-item > div {
    text-transform: none;
    font-size: 14px;
    font-weight: normal;
  }

  .bm-item > div > p {
    margin: 0;
  }